html{
    font-size: 20px;
}


div{
    color: palevioletred;
    font-size: 10px;
}


.pixel {
    color: palevioletred;
    font-size: 36px;
}

.point{
    color: darkblue;
    font-size: 36pt;
}

.em{
    color: coral;
    font-size: 2em;
}

.rem{
    color: cornflowerblue;
    font-size: 2rem;
}